<h1>Enter information for a new puppy</h1>
<form method="post" action="/display_puppy">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="breed" placeholder="Breed">
  <input type="text" name="age" placeholder="Age">
  <input type="submit" name="submit" id="submit">
</form>
