<h1>Heya howya doin?</h1>

<form method="post" action="/">
  <p><input type="text" name="name" placeholder="name"</p>
  <p><input type="text" name="age" placeholder="age"</p>
  <p><input type="text" name="breed" placeholder="breed"</p>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
