<form method="post" action="/display_puppy">

  Name: <input type="text" name="name" id="name">
  Age: <input type="text" name="age" id="age">
  Breed: <input type="text" name="breed" id="breed">
  <input type="submit" id="submit">
</form>
