<h1>create puppy</h1>

<form method="post" action="/">
  <p>Name:<input type="text" name="name"></p>
  <p>Age:<input type="text" name="age"></p>
  <p>Breed:<input type="text" name="breed"></p>
  <input type="submit" value="submit"/>
</form>
