<h1> Submit Puppy For Adoption </h1>

<form action="/puppy" method =“POST”>
<ul> Name: <input type="text" name="name"> </ul>
<ul> Breed: <input type="text" name="breed"> </ul>
<ul> Age: <input type="text" name="age"> </ul>
<ul> <input type="submit" value="submit"/> </ul>
</form>
