<h1>Sup again, bitches</h1>

<form method="post" action="/">

  <p><input type="text" name="name" value="name"</p>
  <p><input type="text" name="breed" value="breed"</p>
  <p><input type="text" name="age" value="age"</p>
  <input type="submit" value="submit">

</form>
