<form method="post" action="/display_puppy">
  Name:<br>
  <input type="text" name="name" value="Name"><br>
   Breed:<br>
  <input type="text" name="breed" value="Breed"><br><br>
  Age:<br>
  <input type="text" name="age" value="Age"><br><br>
  <input type="submit" value="submit">
</form>
