<h1>Create a Puppy</h1>
<form action="/" method="post">
  <p>Puppy Name: <input type="text" name="name"></p>
  <p>Puppy Breed: <input type="text" name="breed"></p>
  <p>Puppy Age: <input type="text" name="age"></p>
  <button type="submit">submit</button>
</form>
