<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>Puppy Name: <%=@pup_name%></p>
  <p>Puppy Breed: <%=@pup_breed%></p>
  <p>Puppy Age: <%=@pup_age%></p>
</body>
</html>