<h1> Welcome to Puppy Burger!</h1>
<h2> The only puppy adoption agency where you can adopt a puppy and have a burger!</h2>
<h3> ...No, we do not make the unadopted puppies into burgers.</h3>
<a href="/new">Click Here To List A Puppy</a>
